@model IEnumerable<NoChangeParking.Models.PaymentDetails>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationPlate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameOnCard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentReference)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationPlate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameOnCard)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardType)
        </td>
       <td>
            @Html.DisplayFor(modelItem => item.PaymentReference)
        </td>
         <td>
             @Html.ActionLink("Details", "Details", new { id=item.Id })
        </td>
    </tr>
}

</table>
